<section class="subscribe-form text-center">
  <h3 class="subscribe-form-title">{{t "Sign Up to {sitetitle}" sitetitle=@site.title}}</h3>
  <p class="subscribe-form-description mx-auto text-justify">{{t "Millions of readers turn to {sitetitle} for keeping up on fashion, celebrities, style and travel. As newsletter subscriber you always get the latest insights first, get full access to this site and enjoy other member priviledges." sitetitle=@site.title}}</p>
  <p class="subscribe-form-description mx-auto text-justify">{{t "Don't lag behind, join us and sign up today."}}</p>
  <a href="#/portal/signup" class="btn btn-primary">{{t "Sign Up"}}</a>
</section>
